<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart.home">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    //红外部分
    <uses-permission android:name="android.permission.TRANSMIT_IR" />

    <uses-feature android:name="android.hardware.ConsumerIrManager" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WelcomeTheme">
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 首页 -->
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.BulbControlActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AddEquipActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MyEquipActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppHomeTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TvControlActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppHomeTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AirConditionActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppHomeTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.FanActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppHomeTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.LockActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.SettingLockActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <service
            android:name=".service.ServerService"
            android:enabled="true" />
        <service
            android:name=".service.TvServerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.BaseService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.AirConditionService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.FanServerService"
            android:enabled="false"
            android:exported="true" />

        <!-- <receiver android:name= ".activity.BulbControlActivity$MyReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name= "com.smart.home.broadcast"/> -->
        <!-- </intent-filter> -->


        <!-- </receiver> -->


    </application>

</manifest>